/* evaluation view */

table.rating tr.odd th {
    border: 0.1em solid white;
    border-style: solid solid none none;
}

table.rating th {
    text-align: left;
    color: #666;
    border: 0.1em solid #E7E7E7;
    border-style: solid solid none;
    background: #DDD;
}

table.rating td,
table.rating th {
    padding: 0.5em 1em;
    vertical-align: top;
}

table.rating {
    border: 1px solid #DDD !important;
}

#content table.rating,
#content table.ratingsheet {
    border-collapse: separate !important;
    border-spacing: 2px !important;
}

table.ratingsheet tr td.no-option {
    background: url("++resource++upfront.assessment/images/grey_button_gradient.png") repeat-x scroll 0 0 #DBDBDB;
}

table.ratingsheet tr td.answer,
table.ratingsheet tr td.answer_red,
table.ratingsheet tr td.answer.selected,
table.ratingsheet tr td.answer_red.selected {
    height: 35px;
    width: 70px;
    margin: 0;
    padding-right: 6px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

table.ratingsheet tr td.answer,
table.ratingsheet tr td.answer_red {
    background: url("++resource++upfront.assessment/images/grey_button_gradient.png") repeat-x scroll 0 0 #DBDBDB;
    border: 1px solid #BFBFBF;
}

table.ratingsheet tr td.answer.selected {
    background: url("++resource++upfront.assessment/images/green_button_gradient.png") repeat-x scroll 0 0 #2C690A;
    border: 1px solid green;
    color: white;
}

table.ratingsheet tr td.answer_red.selected {
    background: url("++resource++upfront.assessment/images/red_button_gradient.png") repeat-x scroll 0 0 #B1141D;
    border: 1px solid red;
    color: white;
}

table td.answer_heading {   
    font-style: bold;
    vertical-align: middle;
    text-align: center;
}
